EXPO_PUBLIC_API_BASE_URL=https://api.penncresttheater.com
EXPO_PUBLIC_TERMINAL_MOCK_MODE=false
EXPO_PUBLIC_PRIVACY_POLICY_URL=https://www.penncresttheater.com/privacy-policy
EXPO_PUBLIC_TERMS_OF_USE_URL=https://www.penncresttheater.com/terms-of-service
EXPO_PUBLIC_REFUND_POLICY_URL=https://www.penncresttheater.com/refund-policy
EXPO_PUBLIC_SUPPORT_URL=mailto:jsmith3@rtmsd.org
EXPO_PUBLIC_DEVICE_HEARTBEAT_MS=15000
EXPO_PUBLIC_DEVICE_COMMAND_POLL_WAIT_MS=25000
EXPO_PUBLIC_DEVICE_COMMAND_RETRY_BASE_MS=3000
EXPO_PUBLIC_DEVICE_APP_VERSION_NAME=1.0.0
EXPO_PUBLIC_DEVICE_APP_VERSION_CODE=1
